.outerBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.innerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    max-width: 800px;
    background-color: rgba(139, 0, 0, 0.7);
    /*background-image: url(https://vignette.wikia.nocookie.net/warhammer40k/images/f/ff/Fon-tzeentch.png/revision/latest?cb=20190713121552&format=original&path-prefix=ru);*/
    border-radius: 20px;
}

.searchInput {
    width: 100%;
    max-width: 300px;
    font-size: 30px;
    margin: 10px;
}